<!-- views/profile.ejs -->
<!doctype html>
<html>
  <head><% include partials/template/head.ejs %></head>

<body>

    <% include partials/template/header.ejs %>
<body class="profile-page">

    <div class="page-header" data-parallax="active" style="background-image: url('');"></div>

    <div class="main main-raised">
        <div class="profile-content">
            <div class="container">
             
                    <div class="col-xs-6 col-xs-offset-3">
                       <div class="profile">
                           
                                <img src="/img/profile_pics/<%= user.avatarName %> " alt="Circle Image" class="img-circle img-responsive img-raised">
                         
                            <div class="work">
                                <h3 class="title"><%= user.firstName %></h3>
                                <h6>Subject: <% user.subjectName %></h6>
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-success"><i alt="Identity has been verified" class="fa fa-check"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-primary"><i class="fa fa-mortar-board"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2 follow">
                       <button class="btn btn-fab btn-primary" rel="tooltip" title="Add to favourites">
                            <i class="material-icons">add</i>
                        </button>
                
                </div>


                <div class="description">
                    <h4 class="title">Biography</h4>
                    <p><%- user.biography %></p>
                
                                <h4 class="title">Stats</h4>
                                <ul class="list-unstyled">
                                    <li><b>60</b> Products</li>
                                    <li><b>4</b> Collections</li>
                                    <li><b>331</b> Influencers</li>
                                    <li><b>1.2K</b> Likes</li>
                                </ul>
                                <hr />
                                <h4 class="title">About my Sessions</h4>
                                <p class="description"><%- user.lessonDescription %></p>
                                <hr />
                                </div>

            </div><!-- end container profile -->




            <div class="container-booking">



                <div class="description">
                    <h4 class="title">Biography</h4>
                    <p><%- user.biography %></p>
                
                                <h4 class="title">Stats</h4>
                                <ul class="list-unstyled">
                                    <li><b>60</b> Products</li>
                                    <li><b>4</b> Collections</li>
                                    <li><b>331</b> Influencers</li>
                                    <li><b>1.2K</b> Likes</li>
                                </ul>
                                <hr />
                                <h4 class="title">About my Sessions</h4>
                                <p class="description"><%- user.lessonDescription %></p>
                                <hr />
                </div>

            </div><!-- end container profile -->







        </div>
    </div>

    <% include partials/template/footer.ejs %>
    <% include partials/template/jsdefaults_dashboard.ejs %>
</body>
</html>