<!-- views/profile.ejs -->
<!doctype html>
<html>
  <head><% include partials/template/head.ejs %></head>
<body class="profile-page">
<% include partials/template/header.ejs %>


    <div class="page-header" data-parallax="active" style="background-image: url('./img/examples/sky.jpg');"></div>

    <div class="col-md-11 main main-raised">
        <div class="profile-content">
            <div class="col-md-1"></div>
            <div class="col-md-7 container" style="margin-left: -10px">
             
                    <div class="col-xs-9 col-xs-offset-2">
                       <div class="profile">
                           
                                <img src="/img/profile_pics/<%= user.avatarName %> " alt="Circle Image" class="img-responsive img-raised img-rounded">
                         
                            <div class="work">
                                <h3><%= user.firstName %></h3>
                                <h6><%= user.subjectName %> Teacher</h6>
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-success"><i alt="Identity has been verified" class="fa fa-check"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-primary"><i class="fa fa-mortar-board"></i></a>
                            </div>
                        </div>
                    </div>

            <hr style="clear:both;">
                        <div class="content">
                    <h4>About <%= user.firstName %></h4>
                    <p><%- user.biography %></p>
                </div>

<hr>
                        <div class="content">
                                <h4>Stats</h4>
                                <ul class="list-unstyled">
                                    <li><b>60</b> Products</li>
                                    <li><b>4</b> Collections</li>
                                    <li><b>331</b> Influencers</li>
                                    <li><b>1.2K</b> Likes</li>
                                </ul>
                        </div>


                                                <div class="description">
                    <hr>
                                <h4>About my Sessions</h4>
                                <p class="description"><%- user.lessonDescription %></p>
                                </div>
                    <hr>
                                
                                <h4>Media</h4>
<div class="card card-raised card-carousel">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                <div class="carousel slide" data-ride="carousel">

                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img src="./img/examples/bg2.jpg" alt="Awesome Image">
                                            <div class="carousel-caption">
                                                <h4><i class="material-icons">location_on</i> Yellowstone National Park, United States</h4>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img src="./img/examples/bg3.jpg" alt="Awesome Image">
                                            <div class="carousel-caption">
                                                <h4><i class="material-icons">location_on</i> Somewhere Beyond, United States</h4>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img src="./img/examples/bg.jpg" alt="Awesome Image">
                                            <div class="carousel-caption">
                                                <h4><i class="material-icons">location_on</i> Yellowstone National Park, United States</h4>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Controls -->
                                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                        <i class="material-icons">keyboard_arrow_left</i>
                                    </a>
                                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                        <i class="material-icons">keyboard_arrow_right</i>
                                    </a>
                                </div>
                            </div>
                        </div> <!-- end carousel -->
<div class="media-area">

                                <hr>
                                    <h4>Reviews</h4>
                                    <div class="media">
                                        <a class="pull-left" href="#pablo">
                                            <div class="avatar">
                                                <img class="media-object" src="./img/faces/avatar.jpg" alt="...">
                                            </div>
                                        </a>
                                        <div class="media-body">
                                            <h4 class="media-heading">Tina Andrew <i class="fa fa-star profile-star"></i><i class="fa fa-star profile-star"></i><i class="fa fa-star profile-star"></i><i class="fa fa-star profile-star"></i><i class="fa fa-star profile-star"></i><small>· 7 minutes ago</small></h4>
                                            <h6 class="text-muted"></h6>

                                            <p>Chance too good. God level bars. I'm so proud of @LifeOfDesiigner #1 song in the country. Panda! Don't be scared of the truth because we need to restart the human foundation in truth I stand with the most humility. We are so blessed!</p>
                                            <p>All praises and blessings to the families of people who never gave up on dreams. Don't forget, You're Awesome!</p>

                                            <div class="media-footer">
                                            <hr>
                                            </div>


                                        </div>
                                    </div>


                                </div>

            </div><!-- end container profile -->



            <div class="col-md-3 container-booking">
                
                    <div class="card booking-card">
                        <div class="content">
                        <h5><i class="fa fa-graduation-cap" style="color:blue;"></i> Subject</h5>
                                               <div class="input-group">
                                        <select name="subjectName" class="select btn btn-raised">
                                            <option disabled selected> Choose subject</option>
                                            <option value="maths">Maths</option>
                                            <option value="piano">Piano</option>
                                            <option value="yoga">Yoga</option>
                                            <option value="tennis">Tennis</option>
                                            <option value="acting">Acting</option>
                                        </select>
                            <h5><i class="fa fa-calendar"></i> Availability</h5>
                            <table>
                            <tr>Mon </tr>
                            <tr>Tues </tr>
                            <tr>Wed </tr>
                            <tr>Thur </tr>
                            <tr>Fri </tr>
                            <tr>Sat </tr>
                            <tr>Sun </tr>
                            </table>
                            <hr>
                            <h5><i class="fa fa-globe"></i> Lesson Location</h5>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios"><span class="circle"></span><span class="check"></span>
                                    At Teachers home
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios"><span class="circle"></span><span class="check"></span>
                                    At Students home
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios"><span class="circle"></span><span class="check"></span>
                                    At other location
                                </label>
                            </div>
                    
                            <hr>
                            <h5><i class="fa fa-money"></i> Price<br>from <b>€35</b> per hour</h5>
                                        
                                        

                                        <div class="footer text-center">
                                            <a href="#pablo" class="btn btn-round btn-primary">Book Lesson</a>
                                        </div>
                                    </div>
                                </div>


            </div><!-- end container profile -->
            <div class="col-md-1"></div>







        </div>
        <div class="col-md-2"></div>
    </div>


<div class="profile-footer">
<% include partials/template/footer.ejs %>
</div>
<% include partials/template/jsdefaults.ejs %>    
</body>
</html>