<!DOCTYPE html>
<html lang="en">
  <head><% include partials/template/head.ejs %>

  </head>

<body>

	<% include partials/template/header.ejs %>
	<!-- code to show express-flash success message, after email signup -->
	<% if ( expressFlash.length > 0 ) { %>
<div class="alert alert-success">
	            <div class="container">
					<div class="alert-icon">
						<i class="material-icons">check</i>
					</div>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true"><i class="material-icons">clear</i></span>
					</button>
	            	<b>Success! </b>  <%= expressFlash %>
	            </div>
	        </div>
<% } %>




<div class="container">
<h4 class="title">You searched for a <%- subject %> Teacher in <%- location %>, there are <%= myresults.length %> results...</h4>
	<div class="searchresults">
  <% for (var i = 0; i < myresults.length; i++) { %>

      <div class="row searchresult card">
      

      <div class="col-md-2">
      
      <div class="card card-profile card-plain">
	<div class="card-avatar">
			<img class="img" src="/img/profile_pics/<%= myresults[i].avatarName %> " />
	</div>
	<h3 class="title capitalize"><%= myresults[i].firstName %></h3>
	</div>
</div>

      <div class="col-md-7 searchresultmiddle">
      <div><h4 class="capitalize"><i class="fa fa-globe btn btn-simple btn-just-icon profile-widget-icons"></i> <%= myresults[i].city %></h4></div>
      <div><h5 class="capitalize"><%= myresults[i].subjectName %><h5></div>
      <div><p><%- myresults[i].biography.substring(0, 200) %>...</p></div>

      </div>


    <div class="col-md-3">
      	<div class="searchresult-upper">
  				<div><h4>Average Price: €<%= myresults[i].averagePrice %>/hour</h4></div>
  			</div>

	<h4>Average Rating:</h4>
      <div>                                                 <i class="fa fa-star profile-star"></i>
                                            <i class="fa fa-star profile-star"></i>
                                            <i class="fa fa-star profile-star"></i>
                                            <i class="fa fa-star profile-star"></i>
                                            <i class="fa fa-star profile-star"></i></div>
		
    </div>
    </div>    
  <% } %>
</div>
</div>



	<% include partials/template/footer.ejs %>
	<% include partials/template/jsdefaults.ejs %>
</body>
</html>